.confirmMail{
  background-color: #B6e3c0;
  height: 100vh;
  text-align: center;
}
.confirmMail p {
    text-align: left;
}
.confirmMail h2 {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}
.confirmMail p {
  color: #565555;
  margin-top: 3rem;
  font-family: 'Flutter';
}

@media screen and (max-width: 400px){
    .confirmMail {
        height: auto;
    }
}
@media screen and (min-width: 1200px) {
    .confirmMail p {
        margin-left: 12rem;
    }
    
}
@media screen and (min-height: 705px) {
    .confirmMail {
        height: 100vh;
    }
    
}