.signup1 {
  background-color: #00a01e;
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
}
.signup1 h5 {
  font-family: 'Flutter', sans-serif;
  font-weight: 400;
  color: #fff;
  margin-top: 3rem;
  font-size: 20px;
}
.form {
    display: none;
    text-align: center;

}

.signup2 {
    display: block;
  text-align: center;
  background-color: #fff;
  font-family: 'Flutter', sans-serif;
  height: 100vh;
}
.signupp {
  font-family: 'Roboto', sans-serif;
  color: #606060;
}

.signup2 h2 {
  font-weight:400;
  margin-top: 2rem;
  font-size: 25px;
}
h4 {
    color: "#595959";
    margin-top: "1rem";
    font-size: 15px;
    text-align: "center";          
}


@media screen and (min-width: 992px) {
    .form-group {
        margin-left: 4em;
        height: auto;
    }
}
@media screen and (max-width:750px ) {
    .signup1 {
        display: none;
    }
    
}
@media screen and (max-width: 320px) {
    .image {
        height: 4rem;
        width: 15rem;
    }
}
@media screen and (max-height: 600px) {

}
