@font-face {
  font-family: 'Flutterwave';
  src: url('./font/FLW-Bold.8acb0e3.ttf');
}
@font-face {
  font-family: 'Flutter';
  src: url('./font/FLW-Regular.5da28fe.ttf');
}
/* * {
    padding: 0;
    margin: 0;
} */
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}